* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    overflow-x: hidden;
    font-family: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
}



/* hide-hdr */
.side-menu {
    top: 0;
    right: 0;
    width: 51%;
    height: 500px;
    z-index: 9999;
    background-color: #fff;
    transform: translate3d(100%, 0, 0);
    transition: transform .5s ease;
    position: fixed;
}

.side-menu-active {
    transform: translate3d(0, 0, 0);
    display: none;
}

.inner {
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.s-nav {
    margin-bottom: 0;
}

.s-nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
    margin-top: 30px;
}

.s-nav ul li {
    opacity: 0;
    margin: 10px 0;
    padding: 0 !important;
}

.side-menu-active .s-nav ul li {
    transform: translateY(0);
    opacity: 1;
}

.s-nav ul a {
    color: #011321;
    font-size: 18px;
    line-height: normal;
    position: relative;
    border-radius: 0;
    text-decoration: none;
    margin-left: 0;
    justify-content: center;
    padding-top: 30px;
}

.i-con {
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: end;
    padding: 20px 20px 0 0;
}

.hide-logo {
    display: none !important;
}

/* header fix  */
.test {
    visibility: visible;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    cursor: pointer;
    position: fixed !important;
    top: 0px;
    z-index: 1111 !important;
    height: 76px;
    border-bottom: 2px solid #d7d7d7 !important;
}

.logo1 {
    width: 60px !important;
    height: 60px !important;
}

/* navbar... */

.nev-bg {
    width: 100%;
    border-bottom: 1px solid #1a1a1a;
}

.logo {
    width: 90px;
    height: 90px;
    transition: all 0.3s ease-in-out;
}

.nav-pdg {
    padding: 26px 25px;
}

.nav-item a {
    margin-left: 30px;
}

.nav-icon i {
    width: 35px;
}

.nav-icon i:hover {
    color: #a49686;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    transition: all 0.6s ease-in-out;
}

ul li:hover>ul {
    display: block;
    transition: all 0.3s ease-in-out;
}

.megamenu-icon i {
    margin-left: 10px;
    font-size: 10px;
}

.mega-menu {
    border: 0.5px solid #a49686;
    padding: 10px 100px 10px 0px;
    border-radius: 0;
}

.mega-menu li a {
    font-weight: 600;
    color: #9b9b9b;

}

.mega-menu a:hover {
    background-color: transparent;
    color: #a49686;
}

.dropdown-item i {
    padding-right: 5px;
}

.nav-line:hover {
    border-bottom: 1px solid;
    transition: all 0.10s ease-in-out;
}



/* menu-tittle */

.team-bg {
    padding: 60px 0px 0px;
}

.heading-modify h6{
    font-weight: 700 !important;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 18px;
}

.heading-modify h2 {
    margin-top: 14px;
    font-size: 54px;
    line-height: 1.2;
    text-transform: none !important;
    font-weight: 400;
}


/* Menu..... */

.menu-bg {
    padding: 0px 0px 115px;
}

.row-pdg{
    padding-top: 30px;
}

.col-pdg {
    padding: 0 15px;
}

.img-custom-width-2 {
    max-width: 48.7vw;
}

.layout-spacing-1 {
    padding: 80px 0 80px 15%;
}

.layout-bg-right {
    position: relative;
    height: auto;
    background-color: #f5eee6;
}

.layout-bg-right::before {
    position: absolute;
    left: 76;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: inherit;
    content: '';
}

.menu-list {
    margin-top: 26.6px;
}

.menu-list-header {
    display: flex;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-list-title a {
    text-decoration: none;
    color: #1a1a1a;
}

.menu-list-title a:hover {
    color: #a49686;
    transition: all 0.3s;
}

.menu-list-divider {
    flex-grow: 1;
    min-width: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0.6em;
    border-top: 1px solid #1a1a1a;
}

.menu-list-meta {
    margin-top: 5px;
    font-weight: 400;
}

.menu-list-item {
    margin-top: 21.7px;
}

.row-m {
    margin-top: 32px;
}

.col-m {
    margin-bottom: 50px;
}

.col-width {
    width: 443px;
}

.img-pdg img {
    padding-top: 50px;
}

.layout-bg-left {
    position: relative;
    z-index: 0;
    background-size: 0;
    background-color: #f5eee6;
}

.layout-bg-left::before {
    width: 55vw;
    left: auto;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    content: '';
}

.layout-spacing-3 {
    padding: 80px 15% 80px 0;
}


/* footer..... */

.footer-classic {
    font-weight: 500;
    font-size: 16px;
    padding-top: 0;
}

.row-15>* {
    margin-bottom: 15px;
}

.footer-logo img {
    width: 105px;
}

.tx-p p {
    margin: 0;
    font-weight: 600;
}

.list-icons-item {
    display: flex;
    align-items: baseline;
    padding-bottom: 15px;
}

.list-icons-item i {
    margin-top: 0.25em;
    margin-right: 0.4em;
    font-size: 1.0em;
}

.xsmall {
    font-size: 14px;
}

.link-inherit {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.list-icons-text span {
    font-weight: 600;
}

.heading-modify {
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
}

.footer-list {
    margin-top: 16.1px;
    padding: 0;
}

.footer-list li {
    font-size: 14px;
    padding-bottom: 10px;
}

.footer-divider {
    margin-top: 50.4px;
}

.footer-bottom {
    padding: 30px 0;
}

.row-30 {
    margin-bottom: -30px;
    width: 100.7%;
}

.rights span {
    font-weight: 600;
}

.link-inherit:hover {
    color: #a49686;
    transition: all 0.5s ease-in-out;
}

.rights a:hover {
    color: #a49686;
    transition: all 0.5s ease-in-out;
}

.list-social a i {
    font-size: 20px;
    color: #cccccc;
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 12px;
}

.list-social a i:hover {
    color: black;
    transition: all 0.3s ease-in-out;
}


/* btn fix....... */

.fix-btn {
    background: #f5eee6;
    bottom: 60px;
    color: #000000;
    font-size: 10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.3s ease 0s;
    right: 30px;
}

.fix-btn:hover {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
}

.test1 {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    position: fixed;
    z-index: 2147483647;
}


@media (max-width:1200px) {

}
@media (max-width:992px) {

    .navbar>.container-fluid {
        display: none;
    }

    .h-hide {
        background-color: #fff;
        position: fixed;
        height: 76px;
        display: flex;
        justify-content: space-around;
    }

    .my-tog-btn {
        display: grid;
        padding-top: 11px;
        height: auto;
        width: 35px;
    }

    .my-tog-btn span {
        background-color: #222;
        margin-bottom: 10px;
        height: 2px;
        width: 100%;
    }

    .nav-pdg {
        padding: 0;
    }

    .hide-logo {
        display: block !important;
    }

    .nev-bg {
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.13);
        border: none;
        z-index: 1;
    }

    .test {
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.13);
        border-bottom: none !important;
    }
    .footer-divider {
        margin-top: 0;
    }
    .align {
        justify-content: space-between;
    }
    .img-custom-width-2 {
        max-width: 47.7vw;
    }
    .row-30 {
        width: 98.7%;
    }
    .team-bg {
        padding: 119px 0px 0px;
    }
  
}
@media (max-width:991px) {
    .img-hide{
        display: none !important;
    }
    .c-width {
        width: 89.5%;
    }
    .col-width {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .layout-spacing-3 {
        padding: 80px 10% 65px 10%;
    }
    .menu-bg {
        padding: 0;
    }
}
@media (max-width:768px) {
    .heading-modify h6 {
        font-size: 16px;
    }
    .heading-modify h2 {
        font-size: 32px;
    }
    .row-30>* {
        margin-bottom: 0;
    }
    .xsmall {
        font-size: 14px;
    }
    .row-30{
        width: 100%;
    }
    .footer-bottom {
        padding: 0;
    }
    .list-icons{
        padding-bottom: 30px;
    }

}
@media(max-width:576px){

    .container-fluid{
        padding-left: 15px;
        padding-right: 15x;
    }
    .col-auto1 {
        width: 33.33%;
    }
    .row-30 {
        width: 103%;
    }
    .row-pdg, .col-pdg-top {
        padding-top: 65px;
    }

}
@media(max-width:475px){
    .row-30 {
        width: 105%;
    }
    .layout-bg-right::before {
        left: 32px;
    }
}
@media (max-width: 320px){
    .col-auto1 {
        width: 50%;
    }
    .align {
        justify-content: space-around !important;
    }
}
